.search {
  margin: auto 10%;
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 2%;
}

.search input {
  margin-right: 10px;
  padding: 10px 5px;
  border: 1px solid #61dafb;
  border-radius: 10px;
  outline: none;
}

.search button {
  border-radius: 10px;
  background-color: #61dafb;
  padding: 10px 5px;
}
